h1 {
    margin: 2rem;
    color: #fdfff4;
}

.boutonAccueil {
    width: 175px;
    height: 60px;
}

.boutonDefault {
    width: 200px;
    height: 100px;
    font-size: large;
}

.boutonAjouter{
    padding: 0 5px;
}

.boutonLien{
    text-decoration: none;
    color: white;
}

.centrage {
    display: flex;
    justify-content: center;
}

.messageErreur {
    display: flex;
    justify-content: start;
}

.container.centrage{
    margin-top: 100px;
}

#bloc-detail-profil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}

#modifier-profil {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#titreSecondaireAccueil {
    font-style: italic;
    font-family: 'Segoe UI Light', cursive;
}

#titreAccueil {
    font-family: 'Segoe Print',cursive;
}

#bloc-detail-profil div {
    margin : 0 .5rem;
    padding: 0 1rem;
}