{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Nouvelle réservation{% endblock %}

{% block body %}

<h3 id="titrePage" class="text-center">Créer une réservation</h3>

{% endblock %}